projecto-base/src/main/resources/wsdl/validador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TestWebServiceImplService" targetNamespace="http://services.intelgy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.intelgy.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://services.intelgy.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://services.intelgy.com/" version="1.0">

  <xs:element name="doTest" type="tns:doTest"/>

  <xs:element name="doTestResponse" type="tns:doTestResponse"/>

  <xs:element name="getaddEmision" type="tns:getaddEmision"/>

  <xs:element name="getaddEmisionResponse" type="tns:getaddEmisionResponse"/>

  <xs:complexType name="getaddEmision">
    <xs:sequence>
      <xs:element name="testId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="mypattern"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getaddEmisionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="fueprocesado" type="xs:boolean"/>
      <xs:element minOccurs="0" name="msjerror" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addEmision">
    <xs:sequence>
		 <xs:element minOccurs="1" name="mensajefusesoap" nillable="false">
        <xs:simpleType>
        
          <xs:restriction base="xs:string">
       <xs:minLength value="3"/>
       
     </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doTest">
    <xs:sequence>
      <xs:element name="testInput" type="tns:addEmision"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="doTestResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getaddEmisionResponse">
  </wsdl:message>
  <wsdl:message name="getaddEmision">
    <wsdl:part name="parameters" element="tns:getaddEmision">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doTest">
    <wsdl:part name="parameters" element="tns:doTest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doTestResponse">
    <wsdl:part name="parameters" element="tns:doTestResponse">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="TestWebService">
    <wsdl:operation name="doTest">
      <wsdl:input name="doTest" message="tns:doTest">
    </wsdl:input>
      <wsdl:output name="doTestResponse" message="tns:doTestResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebServiceImplServiceSoapBinding" type="tns:TestWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
   
    <wsdl:operation name="doTest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="doTest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doTestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebServiceImplService">
    <wsdl:port name="TestWebServiceImplPort" binding="tns:TestWebServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/TestWebServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>